.btn-add{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    padding-bottom: 5px;
    background: var(--second-bg-color);
    transform: rotate(0);
    transition:  .3s ease;
    z-index: 9999;
}
.btn-add:hover{
    transform: rotate(224deg);
}